01-DockerFile
bigFile2.txt
bigFile3.txt
bigFile5.txt
caio.key
compose01
context
Dockerfile
entrypoint
ffmpeg
hello
hosts2.yaml
hosts3.yaml
hosts.yaml
krb
nginx
samba
zabbix/*
!zabbix/zabbix.yaml
zimbra
